@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Inter', sans-serif;
}

body{
    background:#f6f7f8;
    min-height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
}

.auth-wrapper{
    width:100%;
    padding:20px;
}

.auth-card{
    max-width:900px;
    background:#fff;
    border-radius:18px;
    display:flex;
    overflow:hidden;
    box-shadow:0 25px 60px rgba(0,0,0,0.12);
    margin:auto;
}

.auth-left{
    width:50%;
    padding:45px;
}

.auth-left h2{
    margin-bottom:20px;
}

.auth-left input{
    width:100%;
    padding:12px 14px;
    border-radius:6px;
    border:1px solid #d1d5db;
    font-size:14px;
    margin-bottom:16px;
}
.input-box{
    position:relative;
    margin-bottom:18px;
}

.input-box i.fa-user,
.input-box i.fa-envelope,
.input-box i.fa-lock{
    position:absolute;
    left:14px;
    top:50%;
    transform:translateY(-100%);
    color:#6b7280;
    font-size:14px;
}

.input-box input{
    width:100%;
    padding:12px 42px 12px 42px; 
    border-radius:6px;
    border:1px solid #d1d5db;
    font-size:14px;
}

.input-box span,
.toggle{
    position:absolute;
    right:14px;
    top:50%;
    transform:translateY(-90%);
    cursor:pointer;
    color:#6b7280;
}

.btn-main{
    width:100%;
    padding:13px;
    border:none;
    border-radius:25px;
    background:#5651ed;
    color:#ffffff;
    font-weight:600;
    margin-top:8px;
    cursor:pointer;
}

.btn-main:hover {
    background-color: #403ae1;
}

.or{
    display:flex;
    align-items:center;
    gap:10px;
    margin:18px 0;
    font-size:12px;
    color:#9ca3af;
}

.or span{
    flex:1;
    height:1px;
    background:#e5e7eb;
}

.btn-google{
    width:100%;
    padding:10px;
    border:1px solid #e5e7eb;
    border-radius:8px;
    background:#fff;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:10px;
    cursor:pointer;
}

.btn-google img{
    width:18px;
}

.bottom-text{
    margin-top:18px;
    font-size:13px;
}

.bottom-text a{
    color:#2563eb;
    text-decoration:none;
}

.bottom-text a:hover {
    text-decoration: underline;
}

.auth-right{
    width:50%;
    display:flex;
    align-items:center;
    justify-content:center;
}

.auth-right img{
    width:100%;
    height: 350px;
    object-fit: cover;
}

/* responsive */
@media (max-width: 900px){

    body{
        align-items:flex-start;
        margin-top: 25px;
    }

    .auth-card{
        flex-direction:column;
        border-radius:16px;
    }

    .auth-left{
        width:100%;
        padding:28px 22px;
    }

    .auth-right{
        width:100%;
        padding:10px;
        display:flex;
        justify-content:center;
    }

    .auth-right img{
        width:80%;
        height:auto;
        max-height:260px;
        object-fit:contain;
    }
}
